/* home section styling */
.home{
    display: flex;
    background: url("images/banner111.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight:700;
    width:fit-content;
    display: flex;
    align-items: flex-start;
    animation: changeColor 5s infinite linear;
    margin-left: -3px;
}

@keyframes changeColor {
    0% {
        color: crimson;
    }
    10% {
        color: orange;
    }
    30% {
        color: yellow;
    }
    50% {
        color: green;
    }
    70% {
        color: blue;
    }
    100% {
        color: crimson;
    }
}
.jello:hover{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color:  rgb(20, 180, 220);
    -webkit-animation: jello-vertical 0.9s both;
	        animation: jello-vertical 0.9s both;
}

@-webkit-keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: rgb(20, 180, 220);
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: rgb(13, 131, 161);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid rgb(20, 180, 220);
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: rgb(20, 180, 220);
    background: none;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  .ani-3 {
    animation: fadeInOut 1s infinite;
  }
